/****** Object:  StoredProcedure [dbo].[sp_UpdateSalespersons]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_UpdateSalespersons]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePrices]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_UpdatePrices]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItems]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_UpdateItems]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomers]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_UpdateCustomers]
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessLoadData]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_ProcessLoadData]
GO
/****** Object:  StoredProcedure [dbo].[sp_LinkPackToGroup]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_LinkPackToGroup]
GO
/****** Object:  StoredProcedure [dbo].[sp_LinkCustomerToTerritory]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_LinkCustomerToTerritory]
GO
/****** Object:  StoredProcedure [dbo].[sp_LinkCustomerToGroup]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_LinkCustomerToGroup]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateWarehouse]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateUOM]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateUOM]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateTerritory]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateTerritory]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateRoutes]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateRoutes]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdatePackGroup]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdatePackGroup]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdatePack]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdatePack]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateItemCategory]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateItemCategory]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateItem]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateItem]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateEmployee]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateEmployee]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateDivision]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateDivision]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerSubChannel]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateCustomerSubChannel]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerPaymentTerm]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateCustomerPaymentTerm]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerOutlet]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateCustomerOutlet]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerGroup]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateCustomerGroup]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerClass]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateCustomerClass]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerChannel]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateCustomerChannel]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerAccount]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateCustomerAccount]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomer]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateCustomer]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateBrand]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP PROCEDURE [dbo].[sp_InsertUpdateBrand]
GO
/****** Object:  View [dbo].[Items]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP VIEW [dbo].[Items]
GO
/****** Object:  UserDefinedFunction [dbo].[RepresentTime]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP FUNCTION [dbo].[RepresentTime]
GO
/****** Object:  UserDefinedFunction [dbo].[IsRouteHistoryUploaded]    Script Date: 1/15/2018 3:37:12 PM ******/
DROP FUNCTION [dbo].[IsRouteHistoryUploaded]
GO
/****** Object:  UserDefinedFunction [dbo].[IsRouteHistoryUploaded]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IsRouteHistoryUploaded] (@RouteHisoryID INT) RETURNS BIT
AS
BEGIN

DECLARE @Uploaded BIT, @MaxRouteHistoryID INT
SET @Uploaded = 0
SET @MaxRouteHistoryID = 0

SELECT @MaxRouteHistoryID = MAX(RouteHistoryID) FROM RouteHistory WHERE EmployeeID IN (
SELECT EmployeeID FROM RouteHistory WHERE RouteHistoryID = @RouteHisoryID)

IF (@RouteHisoryID = @MaxRouteHistoryID)
	SELECT @Uploaded = Uploaded FROM RouteHistory WHERE RouteHistoryID = @RouteHisoryID

RETURN @Uploaded;

END

GO
/****** Object:  UserDefinedFunction [dbo].[RepresentTime]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RepresentTime](@TimeInSeconds int,@ShowHours bit, @ShowMinutes bit, @ShowSeconds bit)
RETURNS nvarchar(50)
AS
BEGIN

DECLARE @Time nvarchar(20)
DECLARE @hours int, @minutes int, @seconds int
SET @Time = ''
IF (@ShowHours = 1)
BEGIN
SET @hours = @TimeInSeconds / 3600
SET @Time = cast(@hours as nvarchar(10))
SET @TimeInSeconds = @TimeInSeconds - (3600 * @hours)
END

IF (@ShowMinutes = 1)
BEGIN
SET @minutes = @TimeInSeconds / 60
SET @Time = @Time + (CASE @Time WHEN '' THEN '' ELSE ':' END) + (CASE LEN(CAST(@minutes AS nvarchar(10))) WHEN 1 THEN '0' ELSE '' END) + CAST(@minutes AS nvarchar(10))
SET @TimeInSeconds = @TimeInSeconds - (60 * @minutes)
END

IF (@ShowSeconds = 1)
BEGIN
SET @Time = @Time + (CASE @Time WHEN '' THEN '' ELSE ':' END) + (CASE LEN(CAST(@TimeInSeconds AS nvarchar(10))) WHEN 1 THEN '0' ELSE '' END) + CAST(@TimeInSeconds AS nvarchar(10))
END

RETURN @Time

END
GO
/****** Object:  View [dbo].[Items]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Items] AS
SELECT P.PackID,I.ItemID,I.ItemCode,PTL.Description UOM,IC.ItemCategoryID,D.DivisionID,D.OrganizationID ,P.PackTypeID
FROM Pack P
INNER JOIN Item I ON I.ItemID = P.ItemID
INNER JOIN ItemCategory IC ON IC.ItemCategoryID = I.ItemCategoryID
INNER JOIN Division D ON D.DivisionID = IC.DivisionID
INNER JOIN PackTypeLanguage PTL ON PTL.PackTypeID = P.PackTypeID AND PTL.LanguageID = 1


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateBrand]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateBrand]
(
@Brand NVARCHAR(1000),
@BrandID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT BrandID FROM BrandLanguage WHERE Description = @Brand AND LanguageID = 1)
BEGIN
SET @IsNew = 1;
SET @BrandID = (SELECT ISNULL(MAX(BrandID),0)+1 FROM Brand)
INSERT INTO Brand (BrandID) VALUES (@BrandID);
INSERT INTO BrandLanguage (BrandID,LanguageID,Description) VALUES (@BrandID,1,@Brand);
END
ELSE BEGIN
SET @IsNew = 0;
SET @BrandID = (SELECT BrandID FROM BrandLanguage WHERE Description = @Brand);
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomer]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateCustomer]
(
@CustomerCode NVARCHAR(100),
@CustomerName NVARCHAR(100),
@CustomerName_A NVARCHAR(100),
@Phone NVARCHAR(20),
@Fax NVARCHAR(20),
@Email NVARCHAR(50),
@OnHold BIT,
@StreetID INT,
@InActive BIT,
@Address NVARCHAR(300),
@Address_A NVARCHAR(300),
@UserID INT,
@CustomerID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT CustomerID FROM Customer WHERE CustomerCode = @CustomerCode)
BEGIN
SET @IsNew = 1;
SET @CustomerID = (SELECT ISNULL(MAX(CustomerID),0)+1 FROM Customer WHERE CustomerID < 10000000);
INSERT INTO Customer (CustomerID,CustomerCode,Phone,Fax,Email,OnHold,StreetID,Inactive,CurrencyID,CreatedBy,CreatedDate) 
VALUES (@CustomerID,@CustomerCode,@Phone,@Fax,@Email,@OnHold,@StreetID,@InActive,1,@UserID,GETDATE());
END
ELSE BEGIN
SET @IsNew = 0;
SET @CustomerID = (SELECT CustomerID FROM Customer WHERE CustomerCode = @CustomerCode);
UPDATE Customer SET Phone = @Phone,Fax = @Fax,Email = @Email,OnHold = @OnHold,StreetID = @StreetID,Inactive = @InActive
,UpdatedBy = @UserID,UpdatedDate = GETDATE() WHERE CustomerID = @CustomerID;
END

IF NOT EXISTS (SELECT * FROM CustomerLanguage WHERE CustomerID = @CustomerID AND LanguageID = 1)
BEGIN
INSERT INTO CustomerLanguage (CustomerID,LanguageID,Description,Address) VALUES (@CustomerID,1,@CustomerName,@Address);
END
ELSE BEGIN
UPDATE CustomerLanguage SET Description = @CustomerName, Address = @Address WHERE CustomerID = @CustomerID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM CustomerLanguage WHERE CustomerID = @CustomerID AND LanguageID = 2)
BEGIN
INSERT INTO CustomerLanguage (CustomerID,LanguageID,Description,Address) VALUES (@CustomerID,2,@CustomerName_A,@Address_A);
END
ELSE BEGIN
UPDATE CustomerLanguage SET Description = @CustomerName_A, Address = @Address_A WHERE CustomerID = @CustomerID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerAccount]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateCustomerAccount]
(
@CustomerID INT,
@OutletID INT,
@DivisionID INT,
@CreditLimit NUMERIC(19,9),
@OrganizationID INT,
@AccountName NVARCHAR(100),
@AccountID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

DECLARE @ParentAccountID INT
SET @ResultID = 2;

BEGIN TRY 

IF (@DivisionID <> -1)
BEGIN

SET @ParentAccountID = NULL
IF EXISTS (SELECT AccountID FROM AccountCustOut WHERE CustomerID = @CustomerID AND OutletID = @OutletID)
	SET @ParentAccountID = (SELECT AccountID FROM AccountCustOut WHERE CustomerID = @CustomerID AND OutletID = @OutletID);

IF NOT EXISTS (SELECT AccountID FROM AccountCustOutDiv WHERE CustomerID = @CustomerID AND OutletID = @OutletID AND DivisionID = @DivisionID)
BEGIN
SET @IsNew = 1;
SET @AccountID = (SELECT ISNULL(MAX(AccountID),0)+1 FROM Account WHERE AccountID < 10000000);
INSERT INTO Account (AccountID,AccountTypeID,CreditLimit,OrganizationID,ParentAccountID) 
VALUES (@AccountID,1,@CreditLimit,@OrganizationID,@ParentAccountID);
INSERT INTO AccountCustOutDiv (CustomerID,OutletID,DivisionID,AccountID) VALUES (@CustomerID,@OutletID,@DivisionID,@AccountID);
END
ELSE BEGIN
SET @IsNew = 0;
SET @AccountID = (SELECT AccountID FROM AccountCustOutDiv WHERE CustomerID = @CustomerID AND OutletID = @OutletID AND DivisionID = @DivisionID);
UPDATE Account SET CreditLimit = @CreditLimit,OrganizationID = @OrganizationID, ParentAccountID = @ParentAccountID WHERE AccountID = @AccountID;
END

END

IF (@DivisionID = -1 AND @OutletID <> -1)
BEGIN

SET @ParentAccountID = NULL
IF EXISTS (SELECT AccountID FROM AccountCust WHERE CustomerID = @CustomerID)
	SET @ParentAccountID = (SELECT AccountID FROM AccountCust WHERE CustomerID = @CustomerID);

IF NOT EXISTS (SELECT AccountID FROM AccountCustOut WHERE CustomerID = @CustomerID AND OutletID = @OutletID)
BEGIN
SET @IsNew = 1;
SET @AccountID = (SELECT ISNULL(MAX(AccountID),0)+1 FROM Account WHERE AccountID < 10000000);
INSERT INTO Account (AccountID,AccountTypeID,CreditLimit,OrganizationID,ParentAccountID) 
VALUES (@AccountID,1,@CreditLimit,@OrganizationID,@ParentAccountID);
INSERT INTO AccountCustOut (CustomerID,OutletID,AccountID) VALUES (@CustomerID,@OutletID,@AccountID);
END
ELSE BEGIN
SET @IsNew = 0;
SET @AccountID = (SELECT AccountID FROM AccountCustOut WHERE CustomerID = @CustomerID AND OutletID = @OutletID);
UPDATE Account SET CreditLimit = @CreditLimit,OrganizationID = @OrganizationID, ParentAccountID = @ParentAccountID WHERE AccountID = @AccountID;
END

END

IF (@DivisionID = -1 AND @OutletID = -1)
BEGIN

SET @ParentAccountID = NULL

IF NOT EXISTS (SELECT AccountID FROM AccountCust WHERE CustomerID = @CustomerID)
BEGIN
SET @IsNew = 1;
SET @AccountID = (SELECT ISNULL(MAX(AccountID),0)+1 FROM Account WHERE AccountID < 10000000);
INSERT INTO Account (AccountID,AccountTypeID,CreditLimit,OrganizationID,ParentAccountID) 
VALUES (@AccountID,1,@CreditLimit,@OrganizationID,@ParentAccountID);
INSERT INTO AccountCust (CustomerID,AccountID) VALUES (@CustomerID,@AccountID);
END
ELSE BEGIN
SET @IsNew = 0;
SET @AccountID = (SELECT AccountID FROM AccountCust WHERE CustomerID = @CustomerID);
UPDATE Account SET CreditLimit = @CreditLimit,OrganizationID = @OrganizationID, ParentAccountID = @ParentAccountID WHERE AccountID = @AccountID;;
END

END


IF NOT EXISTS (SELECT * FROM AccountLanguage WHERE AccountID = @AccountID AND LanguageID = 1)
	INSERT INTO AccountLanguage (AccountID,LanguageID,Description) VALUES (@AccountID,1,@AccountName);
ELSE
	UPDATE AccountLanguage SET Description = @AccountName WHERE AccountID = @AccountID AND LanguageID = 1;

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerChannel]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateCustomerChannel]
(
@ChannelCode NVARCHAR(50),
@ChannelDescription NVARCHAR(200),
@ChannelDescription_A NVARCHAR(200),
@ChannelID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT ChannelID FROM Channel WHERE ChannelCode = @ChannelCode)
BEGIN
SET @IsNew = 1;
SET @ChannelID = (SELECT ISNULL(MAX(ChannelID),0)+1 FROM Channel);
INSERT INTO Channel (ChannelID,ChannelCode) VALUES (@ChannelID,@ChannelCode);
END
ELSE BEGIN
SET @IsNew = 0;
SET @ChannelID = (SELECT ChannelID FROM Channel WHERE ChannelCode = @ChannelCode);
END

IF NOT EXISTS (SELECT * FROM ChannelLanguage WHERE ChannelID = @ChannelID AND LanguageID = 1)
BEGIN
INSERT INTO ChannelLanguage (ChannelID,LanguageID,Description) VALUES (@ChannelID,1,@ChannelDescription);
END
ELSE BEGIN
UPDATE ChannelLanguage SET Description = @ChannelDescription WHERE ChannelID = @ChannelID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM ChannelLanguage WHERE ChannelID = @ChannelID AND LanguageID = 2)
BEGIN
INSERT INTO ChannelLanguage (ChannelID,LanguageID,Description) VALUES (@ChannelID,2,@ChannelDescription_A);
END
ELSE BEGIN
UPDATE ChannelLanguage SET Description = @ChannelDescription_A WHERE ChannelID = @ChannelID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerClass]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateCustomerClass]
(
@CustomerClassCode NVARCHAR(100),
@CustomerClassDescription NVARCHAR(100),
@CustomerClassID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT CustomerClassID FROM CustomerClass WHERE Code = @CustomerClassCode)
BEGIN
SET @IsNew = 1;
SET @CustomerClassID = (SELECT ISNULL(MAX(CustomerClassID),0)+1 FROM CustomerClass);
INSERT INTO CustomerClass (CustomerClassID,Code) VALUES (@CustomerClassID,@CustomerClassCode);
END
ELSE BEGIN
SET @IsNew = 0;
SET @CustomerClassID = (SELECT CustomerClassID FROM CustomerClass WHERE Code = @CustomerClassCode);
END

IF NOT EXISTS (SELECT * FROM CustomerClassLanguage WHERE CustomerClassID = @CustomerClassID AND LanguageID = 1)
BEGIN
INSERT INTO CustomerClassLanguage (CustomerClassID,LanguageID,Description) VALUES (@CustomerClassID,1,@CustomerClassDescription);
END
ELSE BEGIN
UPDATE CustomerClassLanguage SET Description = @CustomerClassDescription WHERE CustomerClassID = @CustomerClassID;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerGroup]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateCustomerGroup]
(
@GroupCode NVARCHAR(100),
@GroupDescription NVARCHAR(100),
@GroupDescription_A NVARCHAR(100),
@ChannelID INT,
@SubChannelID INT,
@GroupID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT GroupID FROM CustomerGroup WHERE GroupCode = @GroupCode)
BEGIN
SET @IsNew = 1;
SET @GroupID = (SELECT ISNULL(MAX(GroupID),0)+1 FROM CustomerGroup);
INSERT INTO CustomerGroup (GroupID,GroupCode,SubChannelID,ChannelID) VALUES (@GroupID,@GroupCode,@SubChannelID,@ChannelID);
END
ELSE BEGIN
SET @IsNew = 0;
SET @GroupID = (SELECT GroupID FROM CustomerGroup WHERE GroupCode = @GroupCode);
UPDATE CustomerGroup SET SubChannelID = @SubChannelID, ChannelID = @ChannelID WHERE GroupID = @GroupID;
END

IF NOT EXISTS (SELECT * FROM CustomerGroupLanguage WHERE GroupID = @GroupID AND LanguageID = 1)
BEGIN
INSERT INTO CustomerGroupLanguage (GroupID,LanguageID,Description) VALUES (@GroupID,1,@GroupDescription);
END
ELSE BEGIN
UPDATE CustomerGroupLanguage SET Description = @GroupDescription WHERE GroupID = @GroupID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM CustomerGroupLanguage WHERE GroupID = @GroupID AND LanguageID = 2)
BEGIN
INSERT INTO CustomerGroupLanguage (GroupID,LanguageID,Description) VALUES (@GroupID,2,@GroupDescription_A);
END
ELSE BEGIN
UPDATE CustomerGroupLanguage SET Description = @GroupDescription_A WHERE GroupID = @GroupID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerOutlet]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateCustomerOutlet]
(
@CustomerID INT,
@OutletCode NVARCHAR(50),
@Barcode NVARCHAR(50),
@OutletName NVARCHAR(100),
@OutletName_A NVARCHAR(100),
@Address NVARCHAR(300),
@Address_A NVARCHAR(300),
@Phone NVARCHAR(20),
@Fax NVARCHAR(20),
@Email NVARCHAR(50),
@OnHold BIT,
@StreetID INT,
@InActive BIT,
@GPSLat FLOAT,
@GPSLong FLOAT,
@PaymentTermID INT,
@CustomerTypeID INT,
@BillsNo INT,
@CustomerClassID INT,
@OrganizationID INT,
@UserID INT,
@Taxable BIT,
@TRNO nvarchar(50),
@OutletID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT OutletID FROM CustomerOutlet WHERE CustomerCode = @OutletCode AND CustomerID = @CustomerID)
BEGIN
SET @IsNew = 1;
SET @OutletID = (SELECT ISNULL(MAX(OutletID),0)+1 FROM CustomerOutlet WHERE CustomerID = @CustomerID);
INSERT INTO CustomerOutlet(CustomerID,OutletID,CustomerCode,Phone,Fax,Email,OnHold,GPSLatitude,GPSLongitude,StreetID,Inactive
,PaymentTermID,CustomerTypeID,CreatedBy,CreatedDate,CustomerClassID,OrganizationID,Barcode,CurrencyID,BillsOpenNumber,Taxeable,TaxNumber) 
VALUES (@CustomerID,@OutletID,@OutletCode,@Phone,@Fax,@Email,@OnHold,@GPSLat,@GPSLong,@StreetID,@InActive,@PaymentTermID,
@CustomerTypeID,@UserID,GETDATE(),@CustomerClassID,@OrganizationID,@Barcode,1,@BillsNo,@Taxable,@TRNO);
END
ELSE BEGIN
SET @IsNew = 0;
SET @OutletID = (SELECT OutletID FROM CustomerOutlet WHERE CustomerID = @CustomerID AND CustomerCode = @OutletCode);
UPDATE CustomerOutlet SET Phone = @Phone,Fax = @Fax,Email = @Email,OnHold = @OnHold,GPSLatitude = @GPSLat,GPSLongitude = @GPSLong
,StreetID = @StreetID,Inactive = @InActive, CustomerTypeID = @CustomerTypeID, PaymentTermID = @PaymentTermID
,UpdatedBy = @UserID,UpdatedDate = GETDATE(),CustomerClassID = @CustomerClassID
, OrganizationID = @OrganizationID, Barcode = @Barcode, BillsOpenNumber = @BillsNo, Taxeable = @Taxable, 
TaxNumber = (CASE @TRNO WHEN '' THEN TaxNumber ELSE @TRNO END)
WHERE CustomerID = @CustomerID AND OutletID = @OutletID;
END

IF NOT EXISTS (SELECT * FROM CustomerOutletLanguage WHERE CustomerID = @CustomerID AND OutletID = @OutletID AND LanguageID = 1)
BEGIN
INSERT INTO CustomerOutletLanguage (CustomerID,OutletID,LanguageID,Description,Address)
VALUES (@CustomerID,@OutletID,1,@OutletName,@Address);
END
ELSE BEGIN
UPDATE CustomerOutletLanguage SET Description = @OutletName, Address = @Address 
WHERE CustomerID = @CustomerID AND OutletID = @OutletID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM CustomerOutletLanguage WHERE CustomerID = @CustomerID AND OutletID = @OutletID AND LanguageID = 2)
BEGIN
INSERT INTO CustomerOutletLanguage (CustomerID,OutletID,LanguageID,Description,Address)
VALUES (@CustomerID,@OutletID,2,@OutletName_A,@Address_A);
END
ELSE BEGIN
UPDATE CustomerOutletLanguage SET Description = @OutletName_A, Address = @Address_A
WHERE CustomerID = @CustomerID AND OutletID = @OutletID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerPaymentTerm]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateCustomerPaymentTerm]
(
@PaymentTermDays INT,
@PaymentTermID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT PaymentTermID FROM PaymentTerm WHERE SimplePeriodWidth = @PaymentTermDays)
BEGIN
SET @IsNew = 1;
SET @PaymentTermID = (SELECT ISNULL(MAX(PaymentTermID),0)+1 FROM PaymentTerm);
INSERT INTO PaymentTerm (PaymentTermID,PaymentTermTypeID,SimplePeriodWidth,SimplePeriodID) 
VALUES (@PaymentTermID,1,@PaymentTermDays,1);
END
ELSE BEGIN
SET @IsNew = 0;
SET @PaymentTermID = (SELECT PaymentTermID FROM PaymentTerm WHERE SimplePeriodWidth = @PaymentTermDays);
END

IF NOT EXISTS (SELECT * FROM PaymentTermLanguage WHERE PaymentTermID = @PaymentTermID AND LanguageID = 1)
BEGIN
INSERT INTO PaymentTermLanguage (PaymentTermID,LanguageID,Description) VALUES (@PaymentTermID,1,'Every ' + CAST(@PaymentTermDays AS nvarchar(5)) + ' Days');
END
ELSE BEGIN
UPDATE PaymentTermLanguage SET Description = 'Every ' + CAST(@PaymentTermDays AS nvarchar(5)) + ' Days' WHERE PaymentTermID = @PaymentTermID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM PaymentTermLanguage WHERE PaymentTermID = @PaymentTermID AND LanguageID = 2)
BEGIN
INSERT INTO PaymentTermLanguage (PaymentTermID,LanguageID,Description) VALUES (@PaymentTermID,2,'كل ' + CAST(@PaymentTermDays AS nvarchar(5)) + ' أيام');
END
ELSE BEGIN
UPDATE PaymentTermLanguage SET Description = 'كل ' + CAST(@PaymentTermDays AS nvarchar(5)) + ' أيام' WHERE PaymentTermID = @PaymentTermID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateCustomerSubChannel]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateCustomerSubChannel]
(
@SubChannelCode NVARCHAR(50),
@SubChannelDescription NVARCHAR(200),
@SubChannelDescription_A NVARCHAR(200),
@ChannelID INT,
@SubChannelID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT SubChannelID FROM SubChannel WHERE SubChannelCode = @SubChannelCode)
BEGIN
SET @IsNew = 1;
SET @SubChannelID = (SELECT ISNULL(MAX(SubChannelID),0)+1 FROM SubChannel);
INSERT INTO SubChannel (SubChannelID,SubChannelCode,ChannelID) VALUES (@SubChannelID,@SubChannelCode,@ChannelID);
END
ELSE BEGIN
SET @IsNew = 0;
SET @SubChannelID = (SELECT SubChannelID FROM SubChannel WHERE SubChannelCode = @SubChannelCode);
UPDATE SubChannel SET ChannelID = @ChannelID WHERE SubChannelID = @SubChannelID;
END

IF NOT EXISTS (SELECT * FROM SubChannelLanguage WHERE SubChannelID = @SubChannelID AND LanguageID = 1)
BEGIN
INSERT INTO SubChannelLanguage (SubChannelID,LanguageID,Description) VALUES (@SubChannelID,1,@SubChannelDescription);
END
ELSE BEGIN
UPDATE SubChannelLanguage SET Description = @SubChannelDescription WHERE SubChannelID = @SubChannelID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM SubChannelLanguage WHERE SubChannelID = @SubChannelID AND LanguageID = 2)
BEGIN
INSERT INTO SubChannelLanguage (SubChannelID,LanguageID,Description) VALUES (@SubChannelID,2,@SubChannelDescription_A);
END
ELSE BEGIN
UPDATE SubChannelLanguage SET Description = @SubChannelDescription_A WHERE SubChannelID = @SubChannelID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateDivision]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateDivision]
(
@DivisionCode NVARCHAR(50),
@DivisionName NVARCHAR(50),
@DivisionName_A NVARCHAR(50),
@OrganizationID INT,
@UserID INT,
@DivisionID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT DivisionID FROM Division WHERE DivisionCode = @DivisionCode and OrganizationID=@OrganizationID)
BEGIN
SET @IsNew = 1;
SET @DivisionID = (SELECT ISNULL(MAX(DivisionID),0)+1 FROM Division);
INSERT INTO Division (DivisionID,DivisionCode,OrganizationID,CreatedBy,CreatedDate) 
VALUES (@DivisionID,@DivisionCode,@OrganizationID,@UserID,GETDATE());
END
ELSE BEGIN
SET @IsNew = 1;
SET @DivisionID = (SELECT DivisionID FROM Division WHERE DivisionCode = @DivisionCode and OrganizationID=@OrganizationID);
--UPDATE Division SET OrganizationID = @OrganizationID, UpdatedBy = @UserID, UpdatedDate = GETDATE() WHERE @DivisionID = @DivisionID;
END

IF (@DivisionName <> '')
BEGIN
IF NOT EXISTS (SELECT * FROM DivisionLanguage WHERE DivisionID = @DivisionID AND LanguageID = 1)
BEGIN
INSERT INTO DivisionLanguage (DivisionID,LanguageID,Description) VALUES (@DivisionID,1,@DivisionName);
END
ELSE BEGIN
UPDATE DivisionLanguage SET Description = @DivisionName WHERE DivisionID = @DivisionID AND LanguageID = 1;
END
END

IF (@DivisionName_A <> '')
BEGIN
IF NOT EXISTS (SELECT * FROM DivisionLanguage WHERE DivisionID = @DivisionID AND LanguageID = 2)
BEGIN
INSERT INTO DivisionLanguage (DivisionID,LanguageID,Description) VALUES (@DivisionID,2,@DivisionName_A);
END
ELSE BEGIN
UPDATE DivisionLanguage SET Description = @DivisionName_A WHERE DivisionID = @DivisionID AND LanguageID = 2;
END
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateEmployee]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateEmployee]
(
@EmployeeCode NVARCHAR(100),
@EmployeeDescription NVARCHAR(200),
@EmployeeTypeID INT,
@SupervisorID INT,
@SalesManagerID INT,
@InActive BIT,
@OnHold BIT,
@Phone nvarchar(100),
@OrganizationID INT,
@UserID INT,
@EmployeeID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

DECLARE @AccountID INT;
DECLARE @OperatorID INT;
SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT EmployeeID FROM Employee WHERE EmployeeCode = @EmployeeCode)
BEGIN
SET @IsNew = 1;
SET @EmployeeID = (SELECT ISNULL(MAX(EmployeeID),0)+1 FROM Employee);
INSERT INTO Employee (EmployeeID,EmployeeCode,OrganizationID,Phone,InActive,EmployeeTypeID,OnHold,CreatedBy,CreatedDate) 
VALUES (@EmployeeID,@EmployeeCode,@OrganizationID,@Phone,@InActive,@EmployeeTypeID,@OnHold,@UserID,GETDATE());
END
ELSE BEGIN
SET @IsNew = 0;
SET @EmployeeID = (SELECT EmployeeID FROM Employee WHERE EmployeeCode = @EmployeeCode);
UPDATE Employee SET EmployeeTypeID = @EmployeeTypeID, OrganizationID = @OrganizationID, InActive = @InActive 
, Phone = @Phone, OnHold = @OnHold, UpdatedBy = @UserID, UpdatedDate = GETDATE() WHERE EmployeeID = @EmployeeID;
END

IF NOT EXISTS (SELECT * FROM EmployeeLanguage WHERE EmployeeID = @EmployeeID AND LanguageID = 1)
BEGIN
INSERT INTO EmployeeLanguage (EmployeeID,LanguageID,Description) VALUES (@EmployeeID,1,@EmployeeDescription);
END
ELSE BEGIN
UPDATE EmployeeLanguage SET Description = @EmployeeDescription WHERE EmployeeID = @EmployeeID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM EmployeeOrganization WHERE EmployeeID = @EmployeeID AND OrganizationID = @OrganizationID)
BEGIN
INSERT INTO EmployeeOrganization (EmployeeID,OrganizationID) VALUES (@EmployeeID,@OrganizationID);
END

IF (@EmployeeTypeID = 2 AND @SupervisorID <> -1)
BEGIN
DELETE FROM EmployeeSupervisor WHERE EmployeeID = @EmployeeID;
INSERT INTO EmployeeSupervisor (EmployeeID,SupervisorID) VALUES (@EmployeeID,@SupervisorID);
END

IF (@EmployeeTypeID = 4 AND @SalesManagerID <> -1)
BEGIN
DELETE FROM SupervisorSalesMngr WHERE SupervisorID = @EmployeeID;
INSERT INTO SupervisorSalesMngr (SupervisorID,SalesManagerID) VALUES (@EmployeeID,@SalesManagerID);
END

IF (@EmployeeTypeID = 2 AND NOT EXISTS (SELECT AccountID FROM AccountEmp WHERE EmployeeID = @EmployeeID))
BEGIN
SET @AccountID = (SELECT ISNULL(MAX(AccountID),0)+1 FROM Account);
INSERT INTO Account (AccountID,AccountTypeID,OrganizationID,CreditLimit) VALUES (@AccountID,2,@OrganizationID,99999999);
INSERT INTO AccountLanguage (AccountID,LanguageID,Description) VALUES (@AccountID,1,@EmployeeDescription + ' Account');
INSERT INTO AccountEmp (AccountID,EmployeeID) VALUES (@AccountID,@EmployeeID);
END

IF (@EmployeeTypeID = 2 AND NOT EXISTS (SELECT OperatorID FROM EmployeeOperator WHERE EmployeeID = @EmployeeID))
BEGIN
IF NOT EXISTS (SELECT OperatorID FROM Operator WHERE OperatorName = @EmployeeCode)
BEGIN
	SET @OperatorID = (SELECT ISNULL(MAX(OperatorID),0)+1 FROM Operator);
	INSERT INTO Operator (OperatorID,OperatorName,OperatorPassword,FrontOffice,LoginTypeID) 
	VALUES (@OperatorID,@EmployeeCode,'o+XKvxjH6MR9WsKXeyP6qw==',1,1);
END
ELSE
	SET @OperatorID = (SELECT OperatorID FROM Operator WHERE OperatorName = @EmployeeCode);

DELETE FROM EmployeeOperator WHERE OperatorID = @OperatorID;
INSERT INTO EmployeeOperator (EmployeeID,OperatorID) VALUES (@EmployeeID,@OperatorID);

END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateItem]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateItem]
(
@ItemCode NVARCHAR(50),
@ItemDescription NVARCHAR(100),
@ItemDescription_A NVARCHAR(100),
@ItemCategoryID INT,
@InActive BIT,
@BrandID INT,
@UserID INT,
@ItemID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT ItemID FROM Item WHERE ItemCode = @ItemCode and ItemCategoryID=@ItemCategoryID)
BEGIN
SET @IsNew = 1;
SET @ItemID = (SELECT ISNULL(MAX(ItemID),0)+1 FROM Item);
INSERT INTO Item (ItemID,ItemCode,ItemCategoryID,BrandID,InActive,ItemType,IsBatchPriced,CreatedBy,CreatedDate) 
VALUES (@ItemID,@ItemCode,@ItemCategoryID,@BrandID,@InActive,1,0,@UserID,GETDATE());
END
ELSE BEGIN
SET @IsNew = 0;
SET @ItemID = (SELECT ItemID FROM Item WHERE ItemCode = @ItemCode and ItemCategoryID=@ItemCategoryID);
UPDATE Item SET BrandID = @BrandID, InActive = @InActive, UpdatedBy = @UserID, ItemCategoryID = @ItemCategoryID,
UpdatedDate = GETDATE() WHERE ItemID = @ItemID;
END

IF NOT EXISTS (SELECT * FROM ItemLanguage WHERE ItemID = @ItemID AND LanguageID = 1)
BEGIN
INSERT INTO ItemLanguage (ItemID,LanguageID,Description) VALUES (@ItemID,1,@ItemDescription);
END
ELSE BEGIN
UPDATE ItemLanguage SET Description = @ItemDescription WHERE ItemID = @ItemID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM ItemLanguage WHERE ItemID = @ItemID AND LanguageID = 2)
BEGIN
INSERT INTO ItemLanguage (ItemID,LanguageID,Description) VALUES (@ItemID,2,@ItemDescription_A);
END
ELSE BEGIN
UPDATE ItemLanguage SET Description = @ItemDescription_A WHERE ItemID = @ItemID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateItemCategory]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateItemCategory]
(
@ItemCategoryCode NVARCHAR(50),
@ItemCategoryDescription NVARCHAR(100),
@ItemCategoryDescription_A NVARCHAR(100),
@DivisionID INT,
@UserID INT,
@ItemCategoryID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT ItemCategoryID FROM ItemCategory WHERE ItemCategoryCode = @ItemCategoryCode AND DivisionID = @DivisionID)
BEGIN
SET @IsNew = 1;
SET @ItemCategoryID = (SELECT ISNULL(MAX(ItemCategoryID),0)+1 FROM ItemCategory);
INSERT INTO ItemCategory (ItemCategoryID,ItemCategoryCode,DivisionID,CreatedBy,CreatedDate) 
VALUES (@ItemCategoryID,@ItemCategoryCode,@DivisionID,@UserID,GETDATE());
END
ELSE BEGIN
SET @IsNew = 0;
SET @ItemCategoryID = (SELECT ItemCategoryID FROM ItemCategory WHERE ItemCategoryCode = @ItemCategoryCode AND DivisionID = @DivisionID);
UPDATE ItemCategory SET UpdatedBy = @UserID, UpdatedDate = GETDATE() WHERE ItemCategoryID = @ItemCategoryID;
END

IF NOT EXISTS (SELECT * FROM ItemCategoryLanguage WHERE ItemCategoryID = @ItemCategoryID AND LanguageID = 1)
BEGIN
INSERT INTO ItemCategoryLanguage (ItemCategoryID,LanguageID,Description) VALUES (@ItemCategoryID,1,@ItemCategoryDescription);
END
ELSE BEGIN
UPDATE ItemCategoryLanguage SET Description = @ItemCategoryDescription WHERE ItemCategoryID = @ItemCategoryID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM ItemCategoryLanguage WHERE ItemCategoryID = @ItemCategoryID AND LanguageID = 2)
BEGIN
INSERT INTO ItemCategoryLanguage (ItemCategoryID,LanguageID,Description) VALUES (@ItemCategoryID,2,@ItemCategoryDescription_A);
END
ELSE BEGIN
UPDATE ItemCategoryLanguage SET Description = @ItemCategoryDescription_A WHERE ItemCategoryID = @ItemCategoryID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdatePack]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdatePack]
(
@ItemID INT,
@PackTypeID INT,
@ConversionFactor NUMERIC(19,9),
@Barcode NVARCHAR(100),
@Taxable INT,
@PackID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT PackID FROM Pack WHERE ItemID = @ItemID AND PackTypeID = @PackTypeID)
BEGIN
SET @IsNew = 1;
SET @PackID = (SELECT ISNULL(MAX(PackID),0)+1 FROM Pack);
INSERT INTO Pack (PackID,ItemID,PackTypeID,Barcode,Quantity,HasSerialNumber,Width)
VALUES (@PackID,@ItemID,@PackTypeID,@Barcode,@ConversionFactor,0,@Taxable);
END
ELSE BEGIN
SET @IsNew = 0;
SET @PackID = (SELECT PackID FROM Pack WHERE ItemID = @ItemID AND PackTypeID = @PackTypeID);
UPDATE Pack SET Barcode = @Barcode, Quantity = @ConversionFactor, Width = @Taxable WHERE PackID = @PackID;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdatePackGroup]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdatePackGroup]
(
@PackGroupCode NVARCHAR(50),
@PackGroupName NVARCHAR(50),
@PackGroupName_A NVARCHAR(50),
@PackGroupID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT PackGroupID FROM PackGroup WHERE PackGroupCode = @PackGroupCode)
BEGIN
SET @IsNew = 1;
SET @PackGroupID = (SELECT ISNULL(MAX(PackGroupID),0)+1 FROM PackGroup);
INSERT INTO PackGroup (PackGroupID,PackGroupCode,IsDeleted,InActive) 
VALUES (@PackGroupID,@PackGroupCode,0,0);
END
ELSE BEGIN
SET @IsNew = 0;
SET @PackGroupID = (SELECT PackGroupID FROM PackGroup WHERE PackGroupCode = @PackGroupCode);
END

IF NOT EXISTS (SELECT * FROM PackGroupLanguage WHERE PackGroupID = @PackGroupID AND LanguageID = 1)
BEGIN
INSERT INTO PackGroupLanguage (PackGroupID,LanguageID,Description) VALUES (@PackGroupID,1,@PackGroupName);
END
ELSE BEGIN
UPDATE PackGroupLanguage SET Description = @PackGroupName WHERE PackGroupID = @PackGroupID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM PackGroupLanguage WHERE PackGroupID = @PackGroupID AND LanguageID = 2)
BEGIN
INSERT INTO PackGroupLanguage (PackGroupID,LanguageID,Description) VALUES (@PackGroupID,2,@PackGroupName_A);
END
ELSE BEGIN
UPDATE PackGroupLanguage SET Description = @PackGroupName_A WHERE PackGroupID = @PackGroupID AND LanguageID = 2;
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateRoutes]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateRoutes]
(
@UserID INT
)
AS
BEGIN
BEGIN TRY 

UPDATE Route SET InActive = 1;

INSERT INTO Route (RouteID,RouteCode,Inactive,TerritoryID,CreatedBy,CreatedDate) 
SELECT (SELECT ISNULL(MAX(RouteID),0) FROM Route) + (RANK() OVER (ORDER BY T.TerritoryID)) RouteID
, T.TerritoryCode, 0, T.TerritoryID, @UserID, GETDATE()
FROM Territory T
LEFT JOIN Route R ON R.RouteCode = T.TerritoryCode
WHERE R.RouteID IS NULL;

UPDATE Route SET InActive = 0 WHERE RouteCode IN (
SELECT T.TerritoryCode
FROM Territory T);

INSERT INTO RouteLanguage (RouteID,LanguageID,Description)
SELECT R.RouteID,1,TL.Description
FROM Route R
LEFT JOIN RouteLanguage RL ON RL.RouteID = R.RouteID AND LanguageID = 1
LEFT JOIN TerritoryLanguage TL ON TL.TerritoryID = R.TerritoryID AND TL.LanguageID = 1
WHERE RL.RouteID IS NULL;

INSERT INTO RouteVisitPattern (RouteID,Week,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday)
SELECT R.RouteID,1,1,1,1,1,1,1,1
FROM Route R
LEFT JOIN RouteVisitPattern RVP ON RVP.RouteID = R.RouteID
WHERE RVP.RouteID IS NULL

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE();
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateTerritory]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateTerritory]
(
@TerritoryCode NVARCHAR(100),
@TerritoryName NVARCHAR(200),
@EmployeeID INT,
@OrganizationID INT,
@UserID INT,
@TerritoryID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

--Territory
SET @TerritoryID = -1;
IF NOT EXISTS(SELECT TerritoryID FROM Territory WHERE TerritoryCode = @TerritoryCode)
BEGIN
SET @TerritoryID = (SELECT ISNULL(MAX(TerritoryID),0)+1 FROM Territory);
INSERT INTO Territory (TerritoryID,TerritoryCode,OrganizationID,CreatedBy,CreatedDate) 
VALUES (@TerritoryID,@TerritoryCode,@OrganizationID,0,GETDATE());
END
ELSE BEGIN
SET @TerritoryID = (SELECT TerritoryID FROM Territory WHERE TerritoryCode = @TerritoryCode);
UPDATE Territory SET OrganizationID = @OrganizationID, UpdatedBy = 0, UpdatedDate = GETDATE() WHERE TerritoryID = @TerritoryID;
END

--TerritoryLanguage
IF NOT EXISTS (SELECT * FROM TerritoryLanguage WHERE TerritoryID = @TerritoryID AND LanguageID = 1)
BEGIN
INSERT INTO TerritoryLanguage (TerritoryID,LanguageID,Description) VALUES (@TerritoryID,1,@TerritoryName);
END
ELSE BEGIN
UPDATE TerritoryLanguage SET Description = @TerritoryName WHERE TerritoryID = @TerritoryID AND LanguageID = 1;
END

--EmployeeTerritory
DELETE FROM EmployeeTerritory WHERE TerritoryID = @TerritoryID OR EmployeeID = @EmployeeID;
INSERT INTO EmployeeTerritory (EmployeeID,TerritoryID) VALUES (@EmployeeID,@TerritoryID);

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateUOM]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateUOM]
(
@UOM NVARCHAR(50),
@PackTypeID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT PackTypeID FROM PackTypeLanguage WHERE Description = @UOM)
BEGIN
SET @IsNew = 1;
SET @PackTypeID = (SELECT ISNULL(MAX(PackTypeID),0)+1 FROM PackType);
INSERT INTO PackType (PackTypeID) VALUES (@PackTypeID);
INSERT INTO PackTypeLanguage (PackTypeID,LanguageID,Description) VALUES (@PackTypeID,1,@UOM);
END
ELSE BEGIN
SET @IsNew = 0;
SET @PackTypeID = (SELECT PackTypeID FROM PackTypeLanguage WHERE Description = @UOM AND LanguageID = 1);
END

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateWarehouse]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUpdateWarehouse]
(
@WarehouseCode NVARCHAR(50),
@WarehouseDescription NVARCHAR(100),
@WarehouseTypeID INT,
@InActive BIT,
@OrganizationID INT,
@UserID INT,
@WarehouseID INT OUTPUT,
@ResultID INT OUTPUT,
@IsNew BIT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF NOT EXISTS(SELECT WarehouseID FROM Warehouse WHERE WarehouseCode = @WarehouseCode)
BEGIN
	SET @IsNew = 1;
	SET @WarehouseID = (SELECT ISNULL(MAX(WarehouseID),0)+1 FROM Warehouse);
	INSERT INTO Warehouse(WarehouseID,WarehouseCode,OrganizationID,InActive,WarehouseTypeID,Barcode,CreatedBy,CreatedDate) 
	VALUES (@WarehouseID,@WarehouseCode,@OrganizationID,@InActive,@WarehouseTypeID,@WarehouseCode,@UserID,GETDATE());
END
ELSE BEGIN
	SET @IsNew = 0;
	SET @WarehouseID = (SELECT WarehouseID FROM Warehouse WHERE WarehouseCode = @WarehouseCode);
	UPDATE Warehouse SET WarehouseTypeID = @WarehouseTypeID, OrganizationID = @OrganizationID, InActive = @InActive 
	, Barcode = @WarehouseCode, UpdatedBy = @UserID, UpdatedDate = GETDATE() WHERE WarehouseID = @WarehouseID;
END

IF NOT EXISTS (SELECT * FROM WarehouseLanguage WHERE WarehouseID = @WarehouseID AND LanguageID = 1)
BEGIN
	INSERT INTO WarehouseLanguage (WarehouseID,LanguageID,Description) VALUES (@WarehouseID,1,@WarehouseDescription);
END
ELSE BEGIN
	UPDATE WarehouseLanguage SET Description = @WarehouseDescription WHERE WarehouseID = @WarehouseID AND LanguageID = 1;
END

IF NOT EXISTS (SELECT * FROM WarehouseZone WHERE WarehouseID = @WarehouseID AND ZoneID = 1)
BEGIN
	INSERT INTO WarehouseZone (WarehouseID,ZoneID) VALUES (@WarehouseID,1);
END

IF NOT EXISTS (SELECT * FROM WarehouseZoneLanguage WHERE WarehouseID = @WarehouseID AND ZoneID = 1 AND LanguageID = 1)
BEGIN
	INSERT INTO WarehouseZoneLanguage (WarehouseID,ZoneID,LanguageID,Description) VALUES (@WarehouseID,1,1,@WarehouseDescription + ' Zone');
END

IF (@WarehouseTypeID = 2 AND NOT EXISTS (SELECT * FROM Vehicle WHERE VehicleID = @WarehouseID))
BEGIN
	INSERT INTO Vehicle (VehicleID,CreatedBy,CreatedDate) VALUES (@WarehouseID,@UserID,GETDATE());
END

SET @ResultID = 1;

END TRY

BEGIN CATCH

INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_LinkCustomerToGroup]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LinkCustomerToGroup]
(
@CustomerID INT,
@OutletID INT,
@GroupID INT,
@KeepOneAssignmentOnly BIT,
@ResultID INT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

--IF (@KeepOneAssignmentOnly = 1)
--	DELETE FROM CustomerOutletGroup WHERE CustomerID = @CustomerID AND OutletID = @OutletID;

DELETE FROM CustomerOutletGroup WHERE CustomerID = @CustomerID AND OutletID = @OutletID
AND GroupID IN (SELECT GroupID FROM CustomerGroup WHERE LEFT(GroupCode,1) IN (
SELECT LEFT(GroupCode,1) FROM CustomerGroup WHERE GroupID = @GroupID))

IF (@GroupID <> -1 AND (@KeepOneAssignmentOnly = 1 OR NOT EXISTS(SELECT * FROM CustomerOutletGroup WHERE CustomerID = @CustomerID 
AND OutletID = @OutletID AND GroupID = @GroupID)))
	INSERT INTO CustomerOutletGroup(CustomerID,OutletID,GroupID) VALUES (@CustomerID,@OutletID,@GroupID);

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END


GO
/****** Object:  StoredProcedure [dbo].[sp_LinkCustomerToTerritory]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LinkCustomerToTerritory]
(
@CustomerID INT,
@OutletID INT,
@TerritoryID INT,
@KeepOneAssignmentOnly BIT,
@ResultID INT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF (@KeepOneAssignmentOnly = 1)
BEGIN
	DELETE FROM CustOutTerritory WHERE CustomerID = @CustomerID AND OutletID = @OutletID;
	DELETE FROM RouteCustomer WHERE CustomerID = @CustomerID AND OutletID = @OutletID;
END

IF (@TerritoryID <> -1)
BEGIN

IF (@KeepOneAssignmentOnly = 1 OR NOT EXISTS(SELECT * FROM CustOutTerritory WHERE CustomerID = @CustomerID 
AND OutletID = @OutletID AND TerritoryID = @TerritoryID))
	INSERT INTO CustOutTerritory(CustomerID,OutletID,TerritoryID) VALUES (@CustomerID,@OutletID,@TerritoryID);

DECLARE @RouteID INT;
SET @RouteID = -1;
SELECT @RouteID = RouteID FROM Route WHERE RouteCode IN (SELECT TerritoryCode FROM Territory WHERE TerritoryID = @TerritoryID);
IF (@RouteID <> -1 AND (@KeepOneAssignmentOnly = 1 OR NOT EXISTS (SELECT * FROM RouteCustomer WHERE RouteID = @RouteID AND CustomerID = @CustomerID AND OutletID = @OutletID)))
	INSERT INTO RouteCustomer (RouteID,CustomerID,OutletID) VALUES (@RouteID,@CustomerID,@OutletID);
	
SET @ResultID = 1;

END

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[sp_LinkPackToGroup]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LinkPackToGroup]
(
@PackID INT,
@PackGroupID INT,
@KeepOneAssignmentOnly BIT,
@ResultID INT OUTPUT
)
AS
BEGIN

SET @ResultID = 2;

BEGIN TRY 

IF (@KeepOneAssignmentOnly = 1)
	DELETE FROM PackGroupDetail WHERE PackID = @PackID;

IF (@PackGroupID <> -1 AND (@KeepOneAssignmentOnly = 1 OR NOT EXISTS(SELECT * FROM PackGroupDetail WHERE PackID = @PackID AND PackGroupID = @PackGroupID)))
	INSERT INTO PackGroupDetail(PackGroupID,PackID) VALUES (@PackGroupID,@PackID);

SET @ResultID = 1;

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessLoadData]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcessLoadData] AS
BEGIN

UPDATE LRT SET VehicleID = V.WarehouseID, WarehouseID = W.WarehouseID, ItemID = I.ItemID, PackTypeID = I.PackTypeID, PackID = I.PackID,
EmployeeID = EV.EmployeeID, OrganizationID = V.OrganizationID, DocumentSequence = DS.MaxWarehouseTransactionID,
Result = (CASE WHEN V.WarehouseID IS NULL THEN 'Undefined vehicle code' WHEN W.WarehouseID IS NULL THEN 'Undefined warehouse code'
WHEN VW.VehicleID IS NULL THEN 'Vehicle is not linked to warehouse' 
WHEN I.ItemID IS NULL THEN 'Undefined item code' WHEN I.PackTypeID IS NULL THEN 'Undefined UOM' 
WHEN I.PackID IS NULL THEN 'Undefined pack in InVan for provided item and UOM' 
WHEN EV.EmployeeID IS NULL THEN 'Vehicle is not linked to an employee'
WHEN DS.MaxWarehouseTransactionID IS NULL THEN 'No document sequence is defined for the employee'
ELSE 'Valid' END)
FROM LoadRequestTemp LRT
LEFT JOIN Warehouse V ON V.WarehouseCode = LRT.VehicleCode
LEFT JOIN Warehouse W ON W.WarehouseCode = LRT.WarehouseCode
LEFT JOIN VehicleLoadingWh VW ON VW.VehicleID = V.WarehouseID AND VW.WarehouseID = W.WarehouseID
LEFT JOIN EmployeeVehicle EV ON EV.VehicleID = V.WarehouseID
LEFT JOIN DocumentSequence DS ON DS.EmployeeID = EV.EmployeeID
LEFT JOIN Items I ON I.ItemCode = LRT.ItemCode AND I.UOM = LRT.UOM AND I.OrganizationID = V.OrganizationID

END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomers]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCustomers]
AS
BEGIN

DECLARE
@ID INT,
@CustomerCode NVARCHAR(100),
@CustomerFax NVARCHAR(100),
@CustomerName NVARCHAR(100),
@CustomerName_A NVARCHAR(100),
@OutletCode NVARCHAR(100),
@OutletFax NVARCHAR(100),
@OutletName NVARCHAR(100),
@OutletName_A NVARCHAR(100),
@CustomerType INT,
@BillsNo INT,
@PaymentTermDays INT,
@CreditLimit DECIMAL(19,9),
@OnHold BIT,
@InActive BIT,
@Address NVARCHAR(100),
@Address_A NVARCHAR(100),
@Telephone NVARCHAR(50),
@Mobile NVARCHAR(50),
@GPS_Long DECIMAL(19,9),
@GPS_Lat DECIMAL(19,9),
@GroupCode NVARCHAR(50),
@GroupName NVARCHAR(100),
@GroupName_A NVARCHAR(100),
@SubChannelCode NVARCHAR(50),
@SubChannelName NVARCHAR(100),
@SubChannelName_A NVARCHAR(100),
@ChannelCode NVARCHAR(50),
@ChannelName NVARCHAR(100),
@ChannelName_A NVARCHAR(100),
@ChannelID INT,
@SubChannelID INT,
@GroupID INT,
@Group2ID INT,
@PaymentTermID INT,
@AccountID INT,
@AccountName NVARCHAR(50),
@CustomerID INT,
@OutletID INT,
@TerritoryCode NVARCHAR(50),
@TerritoryID INT,
@Taxable BIT,
@TRNO nvarchar(50),
@ResultID INT,
@Ignored BIT,
@Inserted BIT,
@Updated BIT,
@IsNew BIT,
@OrgCode NVARCHAR(50),
@OrganizationID int,
@DivisionCode NVARCHAR(50),
@DivisionID int,
@Message NVARCHAR(max),
@ProcessID INT;


DECLARE LOOP1 CURSOR STATIC FOR
SELECT ID,LTRIM(RTRIM(BillToCode)),LTRIM(RTRIM(BillToName)),LTRIM(RTRIM(BillToName_A)),
LTRIM(RTRIM(ShipToCode)),LTRIM(RTRIM(ShipToName)),LTRIM(RTRIM(ShipToName_A)),CustomerType+1,
CASE ISNUMERIC(ISNULL(PaymentTermDays,0)) WHEN 1 THEN CAST(PaymentTermDays AS INT) ELSE 0 END,
CASE ISNUMERIC(ISNULL(CreditLimit,0)) WHEN 1 THEN CAST(CreditLimit AS DECIMAL(19,9)) ELSE 0 END,
BlockStatus,LTRIM(RTRIM(ISNULL(Address,''))),LTRIM(RTRIM(ISNULL(Address_A,''))),
LTRIM(RTRIM(ISNULL(Telephone,''))),
CASE ISNUMERIC(ISNULL(GPS_Long,0)) WHEN 1 THEN CAST(GPS_Long AS DECIMAL(19,9)) ELSE 0 END,
CASE ISNUMERIC(ISNULL(GPS_Lat,0)) WHEN 1 THEN CAST(GPS_Lat AS DECIMAL(19,9)) ELSE 0 END,
LTRIM(RTRIM(ISNULL(PriceGroup,''))),LTRIM(RTRIM(ISNULL(PriceGroup,''))),LTRIM(RTRIM(ISNULL(PriceGroup,''))),
LTRIM(RTRIM(ISNULL(CustomerGroup,''))),LTRIM(RTRIM(ISNULL(CustomerGroupName,''))),LTRIM(RTRIM(ISNULL(CustomerGroupName_A,''))),
LTRIM(RTRIM(ISNULL(ChannelCode,''))),LTRIM(RTRIM(ISNULL(ChannelName,''))),LTRIM(RTRIM(ISNULL(ChannelName_A,''))),
CAST(LTRIM(RTRIM(SalesmanCode)) AS INT),NoOfBills,DivisionCode,OrgCode,
CASE LTRIM(RTRIM(ISNULL(Taxable,''))) WHEN '1' THEN 1 ELSE 0 END Taxable,
LTRIM(RTRIM(ISNULL(TRNO,''))) TRNO
FROM Stg_Customers
ORDER BY BillToCode,ShipToCode DESC;

OPEN LOOP1

FETCH NEXT FROM LOOP1
INTO @ID,@CustomerFax,@CustomerName,@CustomerName_A,@OutletFax,@OutletName,@OutletName_A,
@CustomerType,@PaymentTermDays,@CreditLimit,@OnHold,@Address,@Address_A,@Telephone,
@GPS_Long,@GPS_Lat,@GroupCode,@GroupName,@GroupName_A,
@SubChannelCode,@SubChannelName,@SubChannelName_A,
@ChannelCode,@ChannelName,@ChannelName_A,
@TerritoryCode,@BillsNo,@DivisionCode,@OrgCode,@Taxable,@TRNO;


WHILE(@@FETCH_STATUS=0)
BEGIN

BEGIN TRY 

SET @ResultID = 2;
SET @Ignored = 1;
SET @Inserted = 0;
SET @Updated = 0;
SET @Message = '';

SET @CustomerCode = @CustomerFax;
IF (ISNUMERIC(@CustomerFax) = 1)
	SET @CustomerCode = CAST(CAST(@CustomerFax AS INT) AS NVARCHAR(100));

SET @OutletCode = @OutletFax;
IF (ISNUMERIC(@OutletFax) = 1)
	SET @OutletCode = CAST(CAST(@OutletFax AS INT) AS NVARCHAR(100));
	
IF (@CustomerCode = '' OR @OutletCode = '' OR @CustomerName = '' OR @OutletName = '' OR @CustomerType = 0 )
BEGIN
	SET @Message = 'Essential data is missing';
	GOTO FETCHNEXT;
END
SET @OrganizationID = -1;
select @OrganizationID=OrganizationID from Organization where OrganizationCode=@OrgCode
IF ( @OrganizationID = -1)
BEGIN
	SET @Message = 'Error in get Organization';
	GOTO FETCHNEXT;
END

SET @DivisionID = -1;
select @DivisionID=DivisionID from Division where OrganizationID=@OrganizationID and DivisionCode=@DivisionCode
IF ( @DivisionID = -1)
BEGIN
	SET @Message = 'Error in get DivisionID';
	GOTO FETCHNEXT;
END

IF (@GroupCode <> '')
begin
set @GroupCode='P-'+@GroupCode
set @GroupName='Price -'+@GroupName
end
IF (@SubChannelCode <> '')
begin
set @SubChannelCode='C-'+@SubChannelCode
set @SubChannelName='Customer -'+@SubChannelName
end

SET @ChannelID = -1;
IF (@ChannelCode <> '')
BEGIN
EXEC sp_InsertUpdateCustomerChannel @ChannelCode,@ChannelCode,@ChannelCode,@ChannelID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @ChannelID = -1)
BEGIN
	SET @Message = 'Error in updating channel [' + @ChannelCode + ']';
	GOTO FETCHNEXT;
END
END;

SET @SubChannelID = -1;
IF (@ChannelCode <> '')
BEGIN
EXEC sp_InsertUpdateCustomerSubChannel @ChannelCode,@ChannelCode,@ChannelCode,@ChannelID,@SubChannelID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @SubChannelID = -1)
BEGIN
	SET @Message = 'Error in updating subchannel [' + @ChannelCode + ']';
	GOTO FETCHNEXT;
END
END;

SET @GroupID = -1;
IF (@GroupCode <> '')
BEGIN
EXEC sp_InsertUpdateCustomerGroup @GroupCode,@GroupName,@GroupName_A,@ChannelID,@SubChannelID,@GroupID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @GroupID = -1)
BEGIN
	SET @Message = 'Error in updating group [' + CAST(@GroupCode AS nvarchar(20)) + ']';
	GOTO FETCHNEXT;
END
END;

SET @Group2ID = -1;
IF (@SubChannelCode <> '')
BEGIN
EXEC sp_InsertUpdateCustomerGroup @SubChannelCode,@SubChannelName,@SubChannelName_A,@ChannelID,@SubChannelID,@Group2ID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @Group2ID = -1)
BEGIN
	SET @Message = 'Error in updating group [' + CAST(@SubChannelCode AS nvarchar(20)) + ']';
	GOTO FETCHNEXT;
END
END;

SET @PaymentTermID = -1;
IF (@PaymentTermDays > 0)
BEGIN
EXEC sp_InsertUpdateCustomerPaymentTerm @PaymentTermDays,@PaymentTermID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @PaymentTermID = -1)
BEGIN
	SET @Message = 'Error in updating payment term days [' + CAST(@PaymentTermDays AS nvarchar(20)) + ']';
	GOTO FETCHNEXT;
END
END;

SET @CustomerID = -1;
EXEC sp_InsertUpdateCustomer @CustomerCode,@CustomerName,@CustomerName_A,@Telephone,@CustomerFax,'',0,-1,0,@Address,@Address_A,0,
@CustomerID OUTPUT, @ResultID OUTPUT, @IsNew OUTPUT
IF (@ResultID <> 1 OR @CustomerID = -1)
BEGIN
	SET @Message = 'Error in updating customer [' + CAST(@CustomerCode AS nvarchar(20)) + ']';
	GOTO FETCHNEXT;
END
	
SET @OutletID = -1;
EXEC sp_InsertUpdateCustomerOutlet @CustomerID,@OutletCode,'',@OutletName,@OutletName_A,@Address,@Address_A,@Telephone,@OutletFax,'',
@OnHold,-1,0,@GPS_Lat,@GPS_Long,@PaymentTermID,@CustomerType,@BillsNo,-1,@OrganizationID,0,@Taxable,@TRNO,
@OutletID OUTPUT, @ResultID OUTPUT, @Inserted OUTPUT
IF (@ResultID <> 1 OR @OutletID = -1)
BEGIN
	SET @Message = 'Error in updating outlet [' + CAST(@OutletCode AS nvarchar(20)) + ']';
	GOTO FETCHNEXT;
END

delete from CustomerOutletGroup where CustomerID=@CustomerID and OutletID=@OutletID and
 GroupID in(
select groupid from CustomerGroup where GroupCode like'P-%' or GroupCode like'C-%' );


SET @AccountID = -1;
SET @AccountName = CAST(@CustomerCode AS nvarchar(20)) + ' Account';
EXEC sp_InsertUpdateCustomerAccount @CustomerID,-1,-1,@CreditLimit,@OrganizationID,@AccountName,@AccountID OUTPUT
,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @AccountID = -1)
BEGIN
	SET @Message = 'Error in updating customer [' + CAST(@CustomerCode AS nvarchar(20)) + '] account';
	GOTO FETCHNEXT;
END

SET @AccountID = -1;
SET @AccountName = CAST(@CustomerCode AS nvarchar(20)) + '\' + CAST(@OutletCode AS nvarchar(20)) + ' Account';
EXEC sp_InsertUpdateCustomerAccount @CustomerID,@OutletID,-1,@CreditLimit,@OrganizationID,@AccountName,@AccountID OUTPUT
,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @AccountID = -1)
BEGIN
	SET @Message = 'Error in updating outlet [' + CAST(@OutletCode AS nvarchar(20)) + '] account';
	GOTO FETCHNEXT;
END


SET @AccountID = -1;
SET @AccountName = CAST(@CustomerCode AS nvarchar(20)) + '\' + CAST(@OutletCode AS nvarchar(20)) + '\'+@DivisionCode+' Account';
EXEC sp_InsertUpdateCustomerAccount @CustomerID,@OutletID,@DivisionID,@CreditLimit,@OrganizationID,@AccountName,@AccountID OUTPUT
,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @AccountID = -1)
BEGIN
	SET @Message = 'Error in updating outlet [' + CAST(@OutletCode AS nvarchar(20)) + '] Divition '+@DivisionCode+' account';
	GOTO FETCHNEXT;
END
IF (@GroupID <> -1)
BEGIN
EXEC sp_LinkCustomerToGroup @CustomerID,@OutletID,@GroupID,1,@ResultID OUTPUT;
IF (@ResultID <> 1)
BEGIN
	SET @Message = 'Error in linking outlet [' + CAST(@OutletCode AS nvarchar(20)) + '] to group [' +CAST(@GroupCode AS nvarchar(20)) + ']';
	GOTO FETCHNEXT;
END
END
IF (@Group2ID <> -1)
BEGIN
EXEC sp_LinkCustomerToGroup @CustomerID,@OutletID,@Group2ID,1,@ResultID OUTPUT;
IF (@ResultID <> 1)
BEGIN
	SET @Message = 'Error in linking outlet [' + CAST(@OutletCode AS nvarchar(20)) + '] to group [' +CAST(@SubChannelCode AS nvarchar(20)) + ']';
	GOTO FETCHNEXT;
END
END

SET @TerritoryID = -1;
IF EXISTS (SELECT TerritoryID FROM Territory WHERE TerritoryCode = @TerritoryCode)
	SET @TerritoryID = (SELECT TerritoryID FROM Territory WHERE TerritoryCode = @TerritoryCode);
	
EXEC sp_LinkCustomerToTerritory @CustomerID,@OutletID,@TerritoryID,1,@ResultID OUTPUT;
IF (@ResultID <> 1)
BEGIN
	SET @Message = 'Error in linking outlet [' + CAST(@OutletCode AS nvarchar(20)) + '] to territory [' + @TerritoryCode + ']';
	GOTO FETCHNEXT;
END

SET @ResultID = 1;
SET @Ignored = 0;
IF (@Inserted = 0)
	SET @Updated = 1;
SET @Message = 'Success';

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE();
SET @Message = ERROR_MESSAGE();
END CATCH


FETCHNEXT:
UPDATE Stg_Customers SET ResultID = @ResultID, Inserted = @Inserted, Updated = @Updated, Skipped = @Ignored, Message = @Message WHERE ID = @ID;

FETCH NEXT FROM LOOP1
INTO @ID,@CustomerFax,@CustomerName,@CustomerName_A,@OutletFax,@OutletName,@OutletName_A,
@CustomerType,@PaymentTermDays,@CreditLimit,@OnHold,@Address,@Address_A,@Telephone,
@GPS_Long,@GPS_Lat,@GroupCode,@GroupName,@GroupName_A,
@SubChannelCode,@SubChannelName,@SubChannelName_A,
@ChannelCode,@ChannelName,@ChannelName_A,
@TerritoryCode,@BillsNo,@DivisionCode,@OrgCode,@Taxable,@TRNO;

END
CLOSE LOOP1
DEALLOCATE LOOP1

UPDATE CO SET CustomerCode = CO.CustomerCode + '-', Inactive = 1 FROM CustomerOutlet CO INNER JOIN
(SELECT CustomerCode,MIN(CreatedDate) Creation FROM CustomerOutlet WHERE Inactive = 0 GROUP BY CustomerCode HAVING COUNT(*) > 1) C
ON C.CustomerCode = CO.CustomerCode AND C.Creation = CO.CreatedDate

DELETE RC FROM RouteCustomer RC INNER JOIN CustomerOutlet CO ON CO.CustomerID = RC.CustomerID AND CO.OutletID = RC.OutletID AND CO.Inactive = 1
DELETE COT FROM CustOutTerritory COT INNER JOIN CustomerOutlet CO ON CO.CustomerID = COT.CustomerID AND CO.OutletID = COT.OutletID AND CO.Inactive = 1
DELETE COG FROM CustomerOutletGroup COG INNER JOIN CustomerOutlet CO ON CO.CustomerID = COG.CustomerID AND CO.OutletID = COG.OutletID AND CO.Inactive = 1


END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateItems]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateItems]
AS
BEGIN

DECLARE
@ItemCode NVARCHAR(50),
@OrgCode NVARCHAR(50),
@ItemDescription NVARCHAR(100),
@ItemDescription_A NVARCHAR(100),
@ItemCategoryCode NVARCHAR(50),
@DivisionCode NVARCHAR(50),
@ItemCategoryDescription NVARCHAR(100),
@ItemCategoryDescription_A NVARCHAR(100),
@UOM NVARCHAR(50),
@PackQuantity NUMERIC(19,9),
@PackGroupCode NVARCHAR(50),
@PackGroupName NVARCHAR(50),
@PackGroupName_A NVARCHAR(50),
@Barcode NVARCHAR(100),
@InActive BIT,
@Brand NVARCHAR(1000),
@ResultID INT,
@DivisionID INT,
@ItemCategoryID INT,
@BrandID INT,
@ItemID INT,
@PackID INT,
@PackGroupID INT,
@PackTypeID INT,
@Count INT,
@ProcessID INT,
@IsNew BIT,
@Ignored BIT,
@Inserted BIT,
@Updated BIT,
@ID INT,
@OrganizationID int,
@Message NVARCHAR(max),
@Taxable int;

DECLARE LOOP1 CURSOR STATIC FOR
SELECT ID,CAST(LTRIM(RTRIM(ItemCode)) AS INT), LTRIM(RTRIM(ISNULL(ItemName,''))), LTRIM(RTRIM(ISNULL(ItemName_A,''))),
CASE LTRIM(RTRIM(ISNULL(ItemCategoryCode,''))) WHEN '' THEN 'DEF' ELSE LTRIM(RTRIM(ISNULL(ItemCategoryCode,''))) END,
CASE LTRIM(RTRIM(ISNULL(ItemCategoryDescription,''))) WHEN '' THEN 'Default' ELSE LTRIM(RTRIM(ISNULL(ItemCategoryDescription,''))) END,
CASE LTRIM(RTRIM(ISNULL(ItemCategoryDescription_A,''))) WHEN '' THEN 'Default' ELSE LTRIM(RTRIM(ISNULL(ItemCategoryDescription_A,''))) END,
LTRIM(RTRIM(ISNULL(ItemGroupCode,''))),LTRIM(RTRIM(ISNULL(ItemGroupName,''))),LTRIM(RTRIM(ISNULL(ItemGroupName_A,''))),
'',
LTRIM(RTRIM(ISNULL(ItemUOM,''))),
(SELECT MAX(CAST(Numerator AS FLOAT)/CAST(Denominator AS FLOAT)) FROM Stg_Items S WHERE S.ItemCode = I.ItemCode)
/ (CAST(Numerator AS FLOAT)/CAST(Denominator AS FLOAT)) Quantity,
'',
CASE LTRIM(RTRIM(ISNULL(InActive,''))) WHEN 1 THEN 1 ELSE 0 END, DivisionCode,OrgCode,
CASE LTRIM(RTRIM(ISNULL(Taxable,''))) WHEN 2 THEN 1 ELSE 0 END Taxable
FROM Stg_Items I;

OPEN LOOP1

FETCH NEXT FROM LOOP1
INTO @ID,@ItemCode,@ItemDescription,@ItemDescription_A,@ItemCategoryCode,@ItemCategoryDescription,@ItemCategoryDescription_A
,@PackGroupCode,@PackGroupName,@PackGroupName_A,@Brand,@UOM,@PackQuantity,@Barcode,@InActive,@DivisionCode,@OrgCode,@Taxable;

WHILE(@@FETCH_STATUS=0)
BEGIN

BEGIN TRY 
SET @ResultID = 2;
SET @Ignored = 1;
SET @Inserted = 0;
SET @Updated = 0;
SET @Message = '';

IF (@ItemCode = '' OR @ItemDescription = '' OR @ItemCategoryCode = '' OR @ItemCategoryDescription = '' OR @UOM = '')
BEGIN
	SET @Message = 'Essential data is missing';
	GOTO FETCHNEXT;
END
SET @OrganizationID = -1;
select @OrganizationID=OrganizationID from Organization where OrganizationCode=@OrgCode
IF ( @OrganizationID = -1)
BEGIN
	SET @Message = 'Error in get Organization';
	GOTO FETCHNEXT;
END

SET @DivisionID = -1;
EXEC sp_InsertUpdateDivision @DivisionCode,@DivisionCode,@DivisionCode,@OrganizationID,0,@DivisionID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @DivisionID = -1)
BEGIN
	SET @Message = 'Error in updating division';
	GOTO FETCHNEXT;
END

SET @ItemCategoryID = -1;
EXEC sp_InsertUpdateItemCategory @ItemCategoryCode,@ItemCategoryDescription,@ItemCategoryDescription_A,@DivisionID,0,@ItemCategoryID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @ItemCategoryID = -1)
BEGIN
	SET @Message = 'Error in updating category';
	GOTO FETCHNEXT;
END

SET @BrandID = null;
--IF (LEN(@Brand) > 3)
--BEGIN
--	EXEC sp_InsertUpdateBrand @Brand,@BrandID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
--	IF (@ResultID <> 1 OR @BrandID = -1)
--	BEGIN
--		SET @Message = 'Error in updating brand';
--		GOTO FETCHNEXT;
--	END
--END
	
SET @ItemID = -1;
EXEC sp_InsertUpdateItem @ItemCode,@ItemDescription,@ItemDescription_A,@ItemCategoryID,@InActive,@BrandID,0,@ItemID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @ItemID = -1)
BEGIN
	SET @Message = 'Error in updating item';
	GOTO FETCHNEXT;
END

SET @PackTypeID = -1;
EXEC sp_InsertUpdateUOM @UOM,@PackTypeID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
IF (@ResultID <> 1 OR @PackTypeID = -1)
BEGIN
	SET @Message = 'Error in updating UOM';
	GOTO FETCHNEXT;
END

SET @PackID = -1;
EXEC sp_InsertUpdatePack @ItemID,@PackTypeID,@PackQuantity,@Barcode,@Taxable,@PackID OUTPUT,@ResultID OUTPUT,@Inserted OUTPUT;
IF (@ResultID <> 1 OR @PackID = -1)
BEGIN
	SET @Message = 'Error in updating pack';
	GOTO FETCHNEXT;
END

SET @PackGroupID = -1;
IF (@PackGroupCode <> '')
BEGIN
	EXEC sp_InsertUpdatePackGroup @PackGroupCode,@PackGroupName,@PackGroupName_A,@PackGroupID OUTPUT,@ResultID OUTPUT,@IsNew OUTPUT;
	IF (@ResultID <> 1 OR @PackGroupID = -1)
	BEGIN
		SET @Message = 'Error in updating pack group';
	END

	EXEC sp_LinkPackToGroup @PackID,@PackGroupID,1,@ResultID OUTPUT;
	IF (@ResultID <> 1)
	BEGIN
		SET @Message = 'Error in linking pack to pack group';
	END
END

SET @ResultID = 1;
SET @Ignored = 0;
IF (@Inserted = 0)
	SET @Updated = 1;
SET @Message = 'Success';

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
SET @Message = ERROR_MESSAGE();
END CATCH


FETCHNEXT:
UPDATE Stg_Items SET ResultID = @ResultID, Inserted = @Inserted, Updated = @Updated, Skipped = @Ignored, Message = @Message WHERE ID = @ID;

FETCH NEXT FROM LOOP1
INTO @ID,@ItemCode,@ItemDescription,@ItemDescription_A,@ItemCategoryCode,@ItemCategoryDescription,@ItemCategoryDescription_A
,@PackGroupCode,@PackGroupName,@PackGroupName_A,@Brand,@UOM,@PackQuantity,@Barcode,@InActive,@DivisionCode,@OrgCode,@Taxable;

END

CLOSE LOOP1
DEALLOCATE LOOP1

END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePrices]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdatePrices]
AS
BEGIN
BEGIN TRY 

UPDATE P SET Message = (
CASE WHEN CAST(P.ValidFrom AS DATE) IS NULL OR CAST(P.ValidTo AS DATE) IS NULL THEN 'From date OR To date are not provided'  
WHEN CAST(ISNULL(P.Price,'0') AS DECIMAL(18,2)) = 0 THEN 'Price not provided' 
WHEN O.OrganizationID IS NULL  THEN 'Organization not defined' 
WHEN I.PackID IS NULL THEN 'Item OR UOM not defined on the organization' 
WHEN CR.CurrencyID IS NULL THEN 'Currency not defined'
WHEN P.CustomerCode IS NOT NULL AND CO.CustomerID IS NULL THEN 'Customer not defined'
WHEN P.OutletCode IS NOT NULL AND CO.OutletID IS NULL THEN 'Outlet not defined'
WHEN P.CustomerGroupCode IS NOT NULL AND CG.GroupID IS NULL THEN 'Customer Group not defined' 
WHEN P.PriceGroupCode IS NOT NULL AND PG.GroupID IS NULL THEN 'Price Group not defined' 
WHEN P.ValidTo < GETDATE() THEN 'Expired pricelist' 
WHEN P.ValidFrom > GETDATE() THEN 'Future pricelist' 
ELSE 'Success'
END),
CustomerID = Co.CustomerID, OutletID = CO.OutletID, GroupID = isnull(CG.GroupID,PG.GroupID), OrganizationID = O.OrganizationID
, ItemID = I.ItemID, PackID = I.PackID,CurrencyID=CR.CurrencyID,
ValidTo = (CASE WHEN ValidTo > '2030-01-01' THEN '2030-01-01' ELSE DATEADD(DD,1,ValidTo) END)
FROM Stg_Prices P
LEFT JOIN Organization O ON O.OrganizationCode = P.OrgCode
LEFT JOIN CustomerGroup CG ON CG.GroupCode = P.CustomerGroupCode
LEFT JOIN CustomerGroup PG ON PG.GroupCode = P.PriceGroupCode
LEFT JOIN Customer C ON C.CustomerCode = CAST(CAST(P.CustomerCode AS INT) AS nvarchar(20))
LEFT JOIN CustomerOutlet CO ON CO.CustomerCode = CAST(CAST(P.OutletCode AS INT) AS nvarchar(20)) AND CO.CustomerID = C.CustomerID
LEFT JOIN Items I ON I.ItemCode = CAST(CAST(P.ItemCode AS INT) as nvarchar(20)) AND I.UOM = P.UOM AND I.OrganizationID = O.OrganizationID
LEFT JOIN Currency CR on P.Currency = CR.Code
WHERE ISNUMERIC(ISNULL(P.CustomerCode,'0')) = 1

UPDATE P SET ItemID = RNK FROM Stg_Prices P INNER JOIN (
SELECT ID, RANK() OVER(PARTITION BY PriceListCode,PackID ORDER BY CAST(ValidFrom AS DATE) DESC) RNK FROM Stg_Prices P WHERE Message = 'success') P2
ON P2.ID = P.ID

UPDATE Stg_Prices SET Message = 'Duplicated row' WHERE ItemID <> 1 AND Message = 'success'
UPDATE Stg_Prices SET ResultID = 2, Inserted = 0, Updated = 0, Skipped = 1 WHERE Message <> 'Success'
UPDATE Stg_Prices SET ResultID = 1, Inserted = 1, Updated = 0, Skipped = 0 WHERE Message = 'Success'

BEGIN TRANSACTION T1

UPDATE PriceList SET IsDeleted = 1 WHERE PriceListCode NOT LIKE 'FP%' ;
DELETE FROM PriceDefinition WHERE PriceListID NOT IN (SELECT PriceListID FROM PriceList WHERE IsDeleted = 0);
DELETE FROM CustomerPrice WHERE PriceListID NOT IN (SELECT PriceListID FROM PriceList WHERE IsDeleted = 0);
DELETE FROM GroupPrice WHERE PriceListID NOT IN (SELECT PriceListID FROM PriceList WHERE IsDeleted = 0);

INSERT INTO PriceList (PriceListID,PriceListCode,StartDate,EndDate,Priority,PriceListTypeID,IsDeleted,OrganizationID,StockStatusID)
SELECT distinct RANK() OVER(ORDER BY P.PriceListCode,P.OrganizationID)  + isnull((SELECT MAX(PriceListID) FROM PriceList),0), P.PriceListCode, P.ValidFrom, p.ValidTo
,P.Priority,1,0,P.OrganizationID,-1
FROM (SELECT  PriceListCode,min(ValidFrom) ValidFrom,max(ValidTo)ValidTo,OrganizationID, case when CustomerGroupCode is not null then 50 else 1 end Priority FROM Stg_Prices WHERE ResultID = 1
group by PriceListCode,OrganizationID,CustomerGroupCode) P
LEFT JOIN PriceList PL ON PL.PriceListCode = P.PriceListCode COLLATE Arabic_CI_AS
and PL.OrganizationID = P.OrganizationID
WHERE PL.PriceListID IS NULL

UPDATE PL SET IsDeleted = 0
FROM PriceList PL
INNER JOIN Stg_Prices P ON P.PriceListCode = PL.PriceListCode
WHERE P.ResultID = 1

INSERT INTO PriceListLanguage (PriceListID,LanguageID,Description)
SELECT DISTINCT PL.PriceListID,1,Pl.PriceListCode 
FROM PriceList PL
LEFT JOIN PriceListLanguage PLL ON PLL.PriceListID = PL.PriceListID
WHERE PLL.PriceListID IS NULL 

INSERT INTO CustomerPrice (CustomerID,OutletID,PriceListID)
SELECT DISTINCT P.CustomerID,P.OutletID,PL.PriceListID
FROM Stg_Prices P
INNER JOIN PriceList PL ON PL.PriceListCode = P.PriceListCode
WHERE P.ResultID = 1 AND CustomerID <> -1

INSERT INTO GroupPrice(GroupID,PriceListID)
SELECT DISTINCT P.GroupID,PL.PriceListID
FROM Stg_Prices P
INNER JOIN PriceList PL ON PL.PriceListCode = P.PriceListCode
WHERE P.ResultID = 1 AND GroupID <> -1

INSERT INTO PriceDefinition (PriceDefinitionID,QuantityRangeID,PacKID,CurrencyID,Price,Tax,PriceListID,MinPrice,MaxPrice)
SELECT (RANK() OVER (ORDER BY P.PriceListID,P.PackID,CurrencyID,OrganizationID))+(SELECT ISNULL(MAX(PriceDefinitionID),0) FROM PriceDefinition)
, 1, P.PackID, P.CurrencyID, P.Price, (SELECT CASE ISNULL(Width,0) WHEN 1 THEN 5 ELSE 0 END FROM Pack WHERE PackID = P.PackID), P.PriceListID, P.Price, P.Price
FROM (SELECT PL.PriceListID, I.PackID, Price,CurrencyID,P.OrganizationID
FROM Stg_Prices P
INNER JOIN Items I ON I.ItemCode = CAST(CAST(P.ItemCode AS INT) as nvarchar(20)) AND I.UOM = P.UOM AND I.OrganizationID = P.OrganizationID
INNER JOIN PriceList PL ON PL.PriceListCode = P.PriceListCode
and  PL.OrganizationID = P.OrganizationID
WHERE P.ResultID = 1) P


UPDATE PLL SET Description = CGL.Description
FROM GroupPrice GP
INNER JOIN CustomerGroupLanguage CGL ON CGL.GroupID = GP.GroupID
INNER JOIN PriceListLanguage PLL ON PLL.PriceListID = GP.PriceListID AND PLL.LanguageID = 1

--Add prices for other UOM
DELETE FROM PriceDefinition WHERE QuantityRangeID = 2;

INSERT INTO PriceDefinition (PriceDefinitionID,QuantityRangeID,PriceListID,PacKID,CurrencyID,Price,MinPrice,MaxPrice,Tax)
SELECT (SELECT MAX(PriceDefinitionID) FROM PriceDefinition) + RANK() OVER (ORDER BY PD.PriceListID, P2.PackID)
, 2, PD.PriceListID, P2.PackID, 1
, ROUND(PD.Price * P2.Quantity / P.Quantity,2), ROUND(PD.Price * P2.Quantity / P.Quantity,2), ROUND(PD.Price * P2.Quantity / P.Quantity,2),
(SELECT CASE ISNULL(Width,0) WHEN 1 THEN 5 ELSE 0 END FROM Pack WHERE PackID = P2.PackID)
FROM PriceDefinition PD
INNER JOIN Pack P ON P.PackID = PD.PacKID
INNER JOIN Pack P2 ON P2.ItemID = P.ItemID AND P2.PackID <> P.PackID
LEFT JOIN PriceDefinition PD2 ON PD2.PriceListID = PD.PriceListID AND PD2.PacKID = P2.PackID
WHERE PD2.PacKID IS NULL

COMMIT TRANSACTION T1;
END TRY

BEGIN CATCH
ROLLBACK TRANSACTION T1;
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE()
END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSalespersons]    Script Date: 1/15/2018 3:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSalespersons]
AS
BEGIN

DECLARE
@SalesmanCode NVARCHAR(100),
@SalesmanName NVARCHAR(50),
@SupervisorCode NVARCHAR(100),
@SupervisorName NVARCHAR(50),
@SalesManagerCode NVARCHAR(50),
@SalesManagerName NVARCHAR(20),
@OrgCode NVARCHAR(50),
@OrganizationID int,
@ID INT,
@ResultID INT,
@IsNew BIT,
@Inserted BIT,
@Updated BIT,
@Ignored BIT,
@SalesManagerID INT,
@SupervisorID INT,
@EmployeeID INT,
@TerritoryID INT,
@VehicleID INT,
@VehicleCode NVARCHAR(100),
@VehicleName NVARCHAR(100),
@Phone nvarchar(100),
@Message NVARCHAR(max),
@DivisionCode NVARCHAR(50),
@DivisionID INT,
@ProcessID INT

DECLARE LOOP1 CURSOR STATIC FOR
SELECT ID,CAST(LTRIM(RTRIM(E.SalesmanCode)) AS INT),LTRIM(RTRIM(E.SalesmanName)),LTRIM(RTRIM(E.OrgCode)),
LTRIM(RTRIM(E.Division))
FROM Stg_Salespersons E;

OPEN LOOP1

FETCH NEXT FROM LOOP1
INTO @ID,@SalesmanCode,@SalesmanName,@OrgCode,@DivisionCode;

WHILE(@@FETCH_STATUS=0)
BEGIN

BEGIN TRY 
SET @ResultID = 2;
SET @Ignored = 1;
SET @Inserted = 0;
SET @Updated = 0;
SET @Message = '';

IF (@SalesmanCode = '' OR @SalesmanName = '')
BEGIN
	SET @Message = 'Essential data is missing';
	GOTO FETCHNEXT;
END
SET @OrganizationID = -1;
select @OrganizationID=OrganizationID from Organization where OrganizationCode=@OrgCode
IF ( @OrganizationID = -1)
BEGIN
	SET @Message = 'Error in get Organization';
	GOTO FETCHNEXT;
END
--SET @SalesManagerID = -1;
--IF (@SalesManagerCode <> '' AND CAST(@SalesManagerCode AS INT) <> 0)
--BEGIN
--EXEC sp_InsertUpdateEmployee @SalesManagerCode,@SalesManagerName,9,-1,-1,0,0,@Phone,1,0
--,@SalesManagerID OUTPUT,@ResultID OUTPUT, @IsNew OUTPUT
--IF (@ResultID <> 1 OR @SalesManagerID = -1)
--BEGIN
--	SET @Message = 'Error in updating salesmanager';
--	GOTO FETCHNEXT;
--END
--END;

--SET @SupervisorID = -1;
--IF (@SupervisorCode <> '' AND CAST(@SupervisorCode AS INT) <> 0)
--BEGIN
--EXEC sp_InsertUpdateEmployee @SupervisorCode,@SupervisorName,4,-1,@SalesManagerID,0,0,@Phone,1,0
--,@SupervisorID OUTPUT,@ResultID OUTPUT, @IsNew OUTPUT
--IF (@ResultID <> 1 OR @SupervisorID = -1)
--BEGIN
--	SET @Message = 'Error in updating supervisor';
--	GOTO FETCHNEXT;
--END
--END;

SET @EmployeeID = -1;
EXEC sp_InsertUpdateEmployee @SalesmanCode,@SalesmanName,2,-1,-1,0,0,'',@OrganizationID,0
,@EmployeeID OUTPUT,@ResultID OUTPUT,@Inserted OUTPUT
IF (@ResultID <> 1 OR @EmployeeID = -1)
BEGIN
	SET @Message = 'Error in updating employee';
	GOTO FETCHNEXT;
END

SET @DivisionID = -1;
SELECT DivisionID FROM Division WHERE DivisionCode = @DivisionCode AND OrganizationID = @OrganizationID;
IF (@DivisionID <> -1 AND NOT EXISTS (SELECT * FROM EmployeeDivision WHERE DivisionID = @DivisionID AND EmployeeID = @EmployeeID))
	INSERT INTO EmployeeDivision (EmployeeID,DivisionID) VALUES (@EmployeeID,@DivisionID);

SET @TerritoryID = -1;
EXEC sp_InsertUpdateTerritory @SalesmanCode,@SalesmanName,@EmployeeID,@OrganizationID,0,@TerritoryID OUTPUT,@ResultID OUTPUT,@Inserted OUTPUT;
IF (@ResultID <> 1 OR @TerritoryID = -1)
BEGIN
	SET @Message = 'Error in updating territory';
	GOTO FETCHNEXT;
END

--SET @VehicleID = -1;
--SET @VehicleCode = 'E-' + @SalesmanCode;
--SET @VehicleName = 'E-' + @SalesmanName;
--EXEC sp_InsertUpdateWarehouse @VehicleCode,@VehicleName,2,0,@OrganizationID,0,@VehicleID OUTPUT,@ResultID OUTPUT
--,@IsNew OUTPUT;
--IF (@ResultID <> 1 OR @VehicleID = -1)
--BEGIN
--	SET @Message = 'Error in updating vehicle';
--	GOTO FETCHNEXT;
--END

--DELETE FROM EmployeeVehicle WHERE VehicleID = @VehicleID OR EmployeeID = @EmployeeID;
--INSERT INTO EmployeeVehicle (EmployeeID,VehicleID) VALUES (@EmployeeID,@VehicleID);


SET @ResultID = 1;
SET @Ignored = 0;
IF (@Inserted = 0)
	SET @Updated = 1;
SET @Message = 'Success';

END TRY

BEGIN CATCH
INSERT INTO ERROR_TRACK (ErrorNumber,ProcedureName,ErrorLine,ErrorMessage,ErrorDate)
SELECT ERROR_NUMBER(),ERROR_PROCEDURE(),ERROR_LINE(),ERROR_MESSAGE(),GETDATE();
SET @Message = ERROR_MESSAGE();
END CATCH

FETCHNEXT:
UPDATE Stg_Salespersons SET ResultID = @ResultID, Inserted = @Inserted, Updated = @Updated, Skipped = @Ignored, Message = @Message WHERE ID = @ID;

FETCH NEXT FROM LOOP1
INTO  @ID,@SalesmanCode,@SalesmanName,@OrgCode,@DivisionCode

END

CLOSE LOOP1
DEALLOCATE LOOP1

--Fill Document Sequence
INSERT INTO DocumentSequence (EmployeeID,MaxTransactionInvoiceID,MaxTransactionReturnID,MaxTransactionOrderID
,MaxWarehouseTransactionID,MaxTransactionCreditNote,MaxTransactionPaymentID,MaxAppliedPaymentID,MaxReturnOrderID--,DivisionID
)
SELECT EmployeeID, 'I' + Code + '000000', 'R' + Code + '000000', 'O' + Code + '000000', 'W' + Code + '000000'
, 'C' + Code + '000000', 'P' + Code + '000000', 'A' + Code + '000000', 'Z' + Code + '000000'--,DivisionID
FROM
(SELECT E.EmployeeID,RIGHT('0000' + EmployeeCode,4) Code
FROM Employee E
LEFT JOIN DocumentSequence DS ON DS.EmployeeID = E.EmployeeID

WHERE DS.EmployeeID IS NULL) T

--Link all salesmen to security group
INSERT INTO OperatorSecurityGroup (OperatorID,SecurityGroupID)
SELECT EO.OperatorID,2
FROM EmployeeOperator EO
INNER JOIN Employee E ON E.EmployeeID = EO.EmployeeID
LEFT JOIN OperatorSecurityGroup OSG ON OSG.OperatorID = EO.OperatorID AND OSG.SecurityGroupID = 2
WHERE E.EmployeeTypeID = 2 AND OSG.OperatorID IS NULL

EXEC sp_InsertUpdateRoutes 0

END


GO
