<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InCubeIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="QPD" USER="ZHHTPROCESS" PASSWD="incube2016" CLIENT="900" LANG="EN" ASHOST="10.250.130.5" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <InCubeIntegration.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <Data>Password=qnie@123;Persist Security Info=True;User ID=sa;Initial Catalog=QNIE_Data;Data Source=10.250.120.33</Data>
      </setting>
    </InCubeIntegration.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransportationWebService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.250.120.35:81" binding="basicHttpBinding"
       bindingConfiguration="TransportationWebService" contract="TransportationWebService.TransportationWebService"
       name="TransportationWebService" />
    </client>
  </system.serviceModel>
</configuration>
