<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
                <binding name="ZUFC_INVAN_SALE_ORD_POST"
                         openTimeout="00:10:00"
                         closeTimeout="00:10:00"
                         sendTimeout="00:10:00"
                         receiveTimeout="00:10:00">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="ZUFC_INVAN_COLLECTIONPOST"
                         openTimeout="00:10:00"
                         closeTimeout="00:10:00"
                         sendTimeout="00:10:00"
                         receiveTimeout="00:10:00">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="ZUFC_INVAN_INVOICE_POST"
                         openTimeout="00:10:00"
                         closeTimeout="00:10:00"
                         sendTimeout="00:10:00"
                         receiveTimeout="00:10:00">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>     
      </customBinding>
    </bindings>
    
    <client>
      <endpoint address="http://ECC-QUA-DEV.ufc.local:1000/sap/bc/srt/rfc/sap/zufc_invan_collectionpost/500/zufc_invan_collectionpost/zufc_invan_collectionpost"
                binding="customBinding" bindingConfiguration="ZUFC_INVAN_COLLECTIONPOST"
                contract="UFC_Collection_WS.ZUFC_INVAN_COLLECTIONPOST" name="ZUFC_INVAN_COLLECTIONPOST" />
      <endpoint address="http://ECC-QUA-DEV.ufc.local:1000/sap/bc/srt/rfc/sap/zufc_invan_sale_ord_post/500/zufc_invan_sale_ord_post/zufc_invan_sale_ord_post"
          binding="customBinding" bindingConfiguration="ZUFC_INVAN_SALE_ORD_POST"
          contract="UFC_SalesOrder_WS.ZUFC_INVAN_SALE_ORD_POST" name="ZUFC_INVAN_SALE_ORD_POST" />
      <endpoint address="http://ECC-QUA-DEV.ufc.local:1000/sap/bc/srt/rfc/sap/zufc_invan_invoice_post/500/zufc_invan_invoice_post/zufc_invan_invoice_post"
          binding="customBinding" bindingConfiguration="ZUFC_INVAN_INVOICE_POST"
          contract="UFC_SalesTransaction_WS.ZUFC_INVAN_INVOICE_POST"
          name="ZUFC_INVAN_INVOICE_POST" />
      </client>
  </system.serviceModel>
</configuration>
