<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InCubeIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InCubeIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FilePath" value="C://"/>
    <add key="IscalaMaximumInvNo" value="100000"/>
    <add key="URI" value="http://192.168.0.250:81"/>
    <add key="REGION" value="1"/>
    <add key="FilePathSalesOrder" value="D://Customer releases//Nestle data//Invoice//"/>
    <add key="FilePathWithdrwal" value="D://Customer releases//Nestle data//WH//"/>
    <add key="FilePathPayments" value="D://Customer releases//Nestle data//Pay//"/>
    <add key="FaildFilePathWithdrwal" value="D://Customer releases//Nestle data//WHE//"/>
    <add key="TimeRepeat" value="10000"/>
    <!--Production-->
    <add key="WS_URL" value="http://web.brasilfoods.com:8100/XISOAPAdapter/MessageServlet?channel=:BS_PALM_05:CC_PALM_SOAP_SND&amp;version=3.0&amp;Sender.Service=CC_PALM_SOAP_SND&amp;Interface=ITF_O_S_EnvRecArqPalm%5EBS_PALM_05"/>
    <add key="UserName" value="PIINCUBE"/>
    <add key="Passowrd" value="brf2608@"/>
    <!--Production-->
    <!--QC-->
    <!--<add key="WS_URL" value="http://web.brasilfoods.com:8101/XISOAPAdapter/MessageServlet?channel=:BS_PALM_05:CC_PALM_SOAP_SND&amp;version=3.0&amp;Sender.Service=CC_PALM_SOAP_SND&amp;Interface=ITF_O_S_EnvRecArqPalm%5EBS_PALM_05"/>
    <add key="UserName" value="PILEGADOS"/>
    <add key="Passowrd" value="P3RD1G@0"/>-->
    <!--QC-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <applicationSettings>
    <InCubeIntegration.Properties.Settings>
      <setting name="InCubeIntegration_SAP_WS_ITF_O_S_EnvRecArqPalmService" serializeAs="String">
        <value>http://spouxp2d:50200/XISOAPAdapter/MessageServlet?channel=:BS_PALM_05:CC_PALM_SOAP_SND&amp;version=3.0&amp;Sender.Service=CC_PALM_SOAP_SND&amp;Interface=ITF_O_S_EnvRecArqPalm%5EBS_PALM_05</value>
      </setting>
    </InCubeIntegration.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.29:8080/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="SAP_JTI.IService" name="BasicHttpBinding_IService"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <InCubeIntegration.Properties.Settings>
      <setting name="OrganizationID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OrganizationCode" serializeAs="String">
        <value/>
      </setting>
      <setting name="DivisionID" serializeAs="String">
        <value>1,2,3</value>
      </setting>
      <setting name="DivisionCode" serializeAs="String">
        <value/>
      </setting>
      <setting name="OrganizationName" serializeAs="String">
        <value/>
      </setting>
    </InCubeIntegration.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
