<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InCubeIntegration_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="InCubeIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransportationWebService" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.6.73:81/" binding="basicHttpBinding" bindingConfiguration="TransportationWebService" contract="TransportationWebService.TransportationWebService" name="TransportationWebService"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <InCubeIntegration_App.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="OrganizationID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
    </InCubeIntegration_App.Properties.Settings>
  </userSettings>
</configuration>
