<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="binding" />
        <binding name="binding1" />
        <binding name="binding2" />
        <binding name="binding3" />
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ERPDXBSRV01.ufc.local:8000/sap/bc/srt/scs/sap/zinvan_integration1?sap-client=500"
        binding="basicHttpBinding" bindingConfiguration="binding" contract="UFC_Collections_WS.zinvan_integration1"
        name="binding" />
      <endpoint address="http://ERPDXBSRV01.ufc.local:8000/sap/bc/srt/scs/sap/zmm_load_req_post_ret_ws?sap-client=500"
        binding="basicHttpBinding" bindingConfiguration="binding1" contract="UFC_LoadRequest_WS.ZMM_LOAD_REQ_POST_RET_WS"
        name="binding1" />
      <endpoint address="http://ERPDXBSRV01.ufc.local:8000/sap/bc/srt/scs/sap/zufc_invan_sale_ord_post?sap-client=500"
        binding="basicHttpBinding" bindingConfiguration="binding2" contract="UFC_SalesOrder_WS.ZUFC_INVAN_SALE_ORD_POST"
        name="binding2" />
      <endpoint address="http://ERPDXBSRV01.ufc.local:8000/sap/bc/srt/scs/sap/zsd_invan_so_to_invoice_fg?sap-client=500"
        binding="basicHttpBinding" bindingConfiguration="binding3" contract="UFC_SalesReturns_WS.ZSD_Invan_so_to_invoice_FG"
        name="binding3" />
      <endpoint address="http://testing.b1pro.com:8084/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="HammodehWS.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://testing.b1pro.com:8084/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="Hammodeh_WS.IService" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
